*{padding:0;margin:0;}

html {
	background: #000 url(../img/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 12px;
}
html, body {
	height:100%;
	overflow: hidden;
	color: white;
	font:16px/1 sans-serif;
	line-height: 1.8;
}
.container {
	margin: 20px 20px 20px 20px;
	height: 100%;
	display: flex;
}
#navigation {
    width: 500px;
	background-color: rgba(0,0,0,0.4);
	overflow: hidden;
	margin: 0 0 40px 0;
}
#navigation-box {
    padding: 4px 4px 4px 4px;
}
#content-box {
	width: 100%;
	float: right;
	background-color: rgba(0,0,0,0.4);
	padding: 20px 60px 0px 60px;
	margin: 0 0 40px 20px;
	overflow: auto;
}
.file {
    cursor: pointer; 
}
.navigation-header {
	padding: 12px 12px 12px 12px;
	margin: 0 0 4px 0;
	display: flex;
	overflow: hidden;
    cursor: pointer;
}
.header-img {
	min-width: 70px;
	min-height: 70px;
    width: 70px;
	height: 70px;
	padding: 10px 10px 10px 10px;
}
.header-text {
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    line-height: 1.2;
}
.center {
    margin: auto;
    width: 50%;
    text-align: center;
}
#content {
	margin: 20px 20px 20px 20px;
}
nav.vertical .item {
	display:block;
	text-decoration:none;
	padding: 6px 6px 6px 10px;
}
nav.vertical li:hover {
	background-color: rgba(120,120,120,0.15);
}
nav.vertical ul ul {
	padding-left:20px;
	max-height:0;
	overflow:hidden;
	transition: max-height 2.6s;
	transition-delay:6.2s;
}
nav.vertical li:hover > ul {
	max-height:2000px;
	transition-delay:0s;
}
